#hero-root {
  position: relative;
  width: 100%;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 600px;
  padding: 3rem 7%;
}
#hero-root .hero-header {
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#hero-root .hero-header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#hero-root .hero-header .logo img {
  height: 60px;
  aspect-ratio: 1/1;
}
@media (min-width: 768px) {
  #hero-root .hero-header .logo img {
    height: 80px;
  }
}
#hero-root .hero-header .logo .logo-text {
  display: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: var(--primtext), sans-serif;
  color: white;
  color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
  #hero-root .hero-header .logo .logo-text {
    font-size: 22.4px;
  }
}
@media (min-width: 768px) {
  #hero-root .hero-header .logo .logo-text {
    display: inline;
  }
}
#hero-root .hero-header .hamburger-btn {
  border: none;
  font-size: 1rem;
  color: white;
  background-color: var(--colors);
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  transition: all ease-in-out 0.3s;
}
#hero-root .hero-header .hamburger-btn:hover {
  opacity: 0.8;
}
@media (min-width: 768px) {
  #hero-root .hero-header .hamburger-btn {
    display: none;
  }
}
#hero-root .hero-header .hero-email {
  cursor: pointer;
  display: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  transition: all ease-in-out 0.3s;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--primtext), sans-serif;
  line-height: 1.8;
  color: rgb(255, 255, 255);
}
#hero-root .hero-header .hero-email:hover {
  opacity: 0.8;
}
@media (min-width: 768px) {
  #hero-root .hero-header .hero-email {
    font-size: 16.8px;
  }
}
@media (min-width: 768px) {
  #hero-root .hero-header .hero-email {
    display: block;
  }
}
#hero-root .hero-content {
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  width: 100%;
  color: white;
}
#hero-root .hero-content .hero-left {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  gap: 0;
  width: 100%;
}
#hero-root .hero-content .hero-left .hero-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 0.8rem;
}
#hero-root .hero-content .hero-left .hero-form .input-label {
  width: 100%;
}
#hero-root .hero-content .hero-left .hero-form .input-label input {
  font-family: var(--primtext), sans-serif;
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  transition: all ease-in-out 0.3s;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100%;
}
#hero-root .hero-content .hero-left .hero-form .input-label input:hover {
  opacity: 0.8;
}
#hero-root .hero-content .hero-right {
  display: none;
}
#hero-root .hero-content .hero-right .navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 0;
}
#hero-root .hero-content .hero-right .navigation-list .navigation-item {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--primtext), sans-serif;
  line-height: 1.8;
  color: rgb(255, 255, 255);
  padding: 0.6rem 0;
  border-bottom: 1px solid white;
  transition: all ease-in-out 0.3s;
}
@media (min-width: 768px) {
  #hero-root .hero-content .hero-right .navigation-list .navigation-item {
    font-size: 19.2px;
  }
}
#hero-root .hero-content .hero-right .navigation-list .navigation-item:hover {
  color: var(--colors);
  border-bottom: 1px solid var(--colors);
}
@media (min-width: 768px) {
  #hero-root .hero-content .hero-left {
    width: 50%;
  }
  #hero-root .hero-content .hero-right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 0;
    width: 50%;
  }
}
#hero-root .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#hamburger-content {
  z-index: 9999;
  position: fixed;
  padding: 1rem;
  top: 0;
  width: 100%;
  transition: all ease-in-out 0.3s;
  height: 100dvh;
  background-color: white;
  opacity: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
#hamburger-content .hamburger-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  #hamburger-content .hamburger-header {
    display: none;
  }
}
#hamburger-content .hamburger-header .logo {
  width: 60px;
}
#hamburger-content .hamburger-header .logo img {
  width: 100%;
}
#hamburger-content .hamburger-header .hamburger-btn-close {
  border: none;
  font-size: 1rem;
  color: white;
  background-color: var(--colors);
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  transition: all ease-in-out 0.3s;
}
#hamburger-content .hamburger-header .hamburger-btn-close:hover {
  opacity: 0.8;
}
#hamburger-content .hamburger-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 0.8rem;
}
#hamburger-content .hamburger-list .hamburger-link {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--primtext), sans-serif;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.8);
  transition: all ease-in-out 0.3s;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0;
}
@media (min-width: 768px) {
  #hamburger-content .hamburger-list .hamburger-link {
    font-size: 21.6px;
  }
}
#hamburger-content .hamburger-list .hamburger-link:hover {
  color: var(--colors);
  border-bottom: 1px solid var(--colors);
}
#hamburger-content .hamburger-email {
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  transition: all ease-in-out 0.3s;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  margin-top: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--primtext), sans-serif;
  line-height: 1.8;
  color: rgb(255, 255, 255);
}
#hamburger-content .hamburger-email:hover {
  opacity: 0.8;
}
@media (min-width: 768px) {
  #hamburger-content .hamburger-email {
    font-size: 19.2px;
  }
}

/*# sourceMappingURL=hero.css.map */
